.navbar{
    height: 4rem;
    background-color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar:hover{
    background-color: #969187;
}
.navbar>h1{
    font-size: 2rem;
    color: #fff;
}
.add-user-btn{
    width: 8rem;
    background: transparent;
    height: 2rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.user-add{
    display: flex;
    justify-content: center;
}
.add-user-btn:hover{
    color: black;
    background-color: #fff;
    transition: 0.3s ease-in all;
}